<h1>Add Monster</h1>
<div col-xs-offset-2>
  <form (ngSubmit)='onSubmit(monsterForm)' #monsterForm='ngForm'>
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name='name'
          type="text"
          class="form-control"
          placeholder="Name"
          required
          ngModel>
        <p class="help-block">Enter the name of the monster's species.</p>
      </div>
      <div class="form-group">
        <label for='description'>Description</label>
        <input id='description' name='description'
          type='text'
          class='form-control'
          placeholder="Something noteworthy about this type of monster..."
          ngModel>
        <p class="help-block">Enter a description of the monster.</p>
      </div>
      <div class="form-group">
        <label for="health">Health Dice</label>
        <input id="health" name='health'
          type="text"
          class="form-control"
          placeholder="2d6+1"
          required
          ngModel>
        <p class="help-block">Use standard dice nomenclature- [quantity]d[sides]-[modifier].</p>
      </div>
      <div class='btn-group'>
        <button
          type='submit'
          class='btn btn-success'
          [disabled]='!monsterForm.form.valid'>
          Create
        </button>
        <button class='btn btn-warning' routerLink='/bestiary'>Back</button>
      </div>
  </form>
</div>
