<h1>Add Monster</h1>
<form [formGroup]='addForm'>
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" name='name'
        type="text"
        class="form-control"
        placeholder="Name"
        required
        formControlName='name'>
      <div class="form-text text-muted">Enter the name of the monster's species.</div>
    </div>
    <div class="form-group">
      <label for='description'>Description</label>
      <input id='description' name='description'
        type='text'
        class='form-control'
        placeholder="Something noteworthy about this type of monster..."
        formControlName='description'>
      <div class="form-text text-muted">Enter a description of the monster.</div>
    </div>
    <div class='form-group'>
      <label for='name-generator'>Name Generator</label>
      <select id='name-generator'
        class='form-control'
        formControlName='nameGeneratorID'>
        <option [value]='undefined'>(None)</option>
        <option
          *ngFor='let g of generators'
          [value]='g.ID'>
          {{ g.name }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="health">Health Dice</label>
      <input id="health"
        type="text"
        class="form-control"
        placeholder="2d6+1"
        formControlName='health'>
      <div class="form-text text-muted">Use standard dice nomenclature- [quantity]d[sides]-[modifier].</div>
    </div>
    <div class='btn-group'>
      <button
        type='submit'
        class='btn btn-success'
        [disabled]='!addForm.valid'
        (click)='onSubmit()'>
        Create
      </button>
      <button class='btn btn-warning' routerLink='/bestiary'>Back</button>
    </div>
</form>
