<div class='row'>
  <div class='col-md-12'>
    <div class='panel panel-info'>
      <h2>Roster</h2>
      <table
        class='table'
        *ngIf='characters.length > 0'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Health</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let character of characters'>
            <td>{{character.name}}</td>
            <td>{{character.description}}</td>
            <td>{{character.health}}</td>
            <td>
              <span class='fa fa-edit fa-2x' routerLink='./edit/{{ character.id }}'></span>
              <span class='fa fa-trash fa-2x' (click)='removeCharacter(character)'></span>
            </td>
          </tr>
        </tbody>
      </table>
      <div
        class='card'
        *ngIf='characters.length == 0'>
        <div class='card-body'>
          Uh oh! No characters in the roster. Maybe you should <a routerLink='add'>add</a> some?
        </div>
      </div>
      <div class='btn-group' style='padding: 10px; float: right'>
        <button class='btn btn-primary' routerLink='add'>Add Character</button>
      </div>
    </div>
  </div>
</div>
