<h1>Name Generators</h1>
<table class='table'>
  <thead>
    <tr>
      <th>Generator Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let generator of generators'>
      <td>
        {{generator.name}}
      </td>
      <td>
        <button class='btn btn-secondary fa fa-edit fa-2x' routerLink='./edit/{{generator.ID}}'></button>
        <button class='btn btn-secondary fa fa-trash fa-2x' (click)='removeGenerator(generator)'></button>
      </td>
    </tr>
  </tbody>
</table>
<div class='card' *ngIf='generators.length==0'>
  <div class='card-body'>
    There don't appear to be any name generators. Maybe you should write some?
  </div>
</div>
<div class='btn-group'>
  <button class='btn btn-primary' routerLink='add'>Add Name Generator</button>
</div>
