<div class="widget">
  <table>
    <thead>
      <tr><td>Init</td><td>Name</td><td></td></tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let combatant of currentEncounter.combatants"
        [ngClass]="{'selected': currentEncounter.currentCombatant == combatant }">
        <td>{{combatant.initiative}}</td>
        <td>{{combatant.name}}</td>
        <td><button (click)="currentEncounter.remove( combatant )">X</button></td>
      </tr>
    </tbody>
  </table>
  <button (click)="currentEncounter.advance()">Next</button>
</div>
