<div class="col-lg-5">
  <table>
    <thead>
      <tr>
        <td>Init</td>
        <td>Name</td>
        <td>Health</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let combatant of currentEncounter.combatants"
        [ngClass]="{'selected': currentEncounter.currentCombatant == combatant }">
        <td>{{combatant.initiative}}</td>
        <td>{{combatant.name}}</td>
        <td>
          <input type="number" [(ngModel)]="combatant.currentHP" />
          /
          <input type="number" [(ngModel)]="combatant.maxHP" />
        </td>
        <td><button (click)="currentEncounter.remove( combatant )">X</button></td>
      </tr>
    </tbody>
  </table>
  <button (click)="currentEncounter.advance()">Next</button>
</div>
