<div class='row'>
  <div class='col-md-12'>
    <div class='panel panel-info'>
      <h2>Bestiary</h2>
      <table
        class="table"
        *ngIf='entries.length > 0'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>XP</th>
            <th>Hit Dice</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let entry of entries'>
            <td *ngIf='entry.nameURL.length > 0'>
              <a href='{{entry.nameURL}}' target="_blank">{{entry.name}}</a>
            </td>
            <td *ngIf='entry.nameURL.length == 0'>
              {{entry.name}}
            </td>
            <td>{{entry.description}}</td>
            <td>{{entry.experience}}</td>
            <td>{{entry.health.toString()}}</td>
            <td>
              <span class='fa fa-edit fa-2x' routerLink='./edit/{{ entry.ID }}'></span>
              <span class='fa fa-trash fa-2x' (click)='removeEntry(entry)'></span>
            </td>
          </tr>
        </tbody>
      </table>
      <div
        class='card'
        *ngIf='entries.length == 0'>
        <div class='card-body'>
          Uh oh! No monsters in the bestiary. Maybe you should <a routerLink='add'>add</a> some?
        </div>
      </div>
      <div class='btn-group' style='padding: 10px; float: right'>
        <button class='btn btn-primary' routerLink='add'>Add Monster</button>
      </div>
    </div>
  </div>
</div>
