<div class='row'>
  <div class='col-md-12'>
    <div class='panel panel-info'>
      <h2>Bestiary</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Hit Dice</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let monster of monsters'>
            <td>{{monster.name}}</td>
            <td>{{monster.description}}</td>
            <td>{{monster.health.toString()}}</td>
            <td>
              <span class='glyphicon glyphicon-edit' routerLink='./edit/{{ monster.id }}'></span>
              <span class='glyphicon glyphicon-trash' (click)='removeMonster(monster)'></span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class='btn-group' style='padding: 10px; float: right'>
        <button class='btn btn-primary' routerLink='add'>Add Monster</button>
      </div>
    </div>
  </div>
</div>
