<div class='row'>
  <div class='col-md-12'>
    <h1>Welcome to NCounter</h1>
    <p>
      NCounter is a tool designed to help keep track of encounters in pen-and-paper games.
      Often encounters require both player and non-player characters to act in a randomized
      order, which can make it difficult to remember whose turn comes next.
    </p>
    <p>
      NCounter helps with this problem by giving you a maintain a <b>roster</b>
      of heroes, a <b>bestiary</b> of monsters, design <b>quests</b> (pre-made
      encounters), and then run them.
    </p>
    <p>
      As you've probably noticed, we're still under construction, but you can
      try out a simplified version by clicking the <a routerLink='/fight'>"Fight!"</a>
      link above!
    </p>
  </div>
</div>
