<h1>Edit "{{entry.name}}"</h1>
<div class='col-md-12'>
  <form [formGroup]='editForm'>
    <div class='form-group'>
      <label for='id'>ID</label>
      <input
        type='text'
        class='form-control'
        disabled='true'
        value="{{entry.ID}}">
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name"
        formControlName='name'
        type="text"
        class="form-control">
      <div
        class="form-text text-muted"
        *ngIf="!editForm.get('name').valid">
        Enter the name of the monster's species.
      </div>
    </div>
    <div class="form-group">
      <label for='description'>Description</label>
      <input id='description'
        formControlName='description'
        type='text'
        class='form-control'
        placeholder="Something noteworthy about this type of monster...">
      <div
        class="form-text text-muted"
        *ngIf="editForm.get('description').value.length == 0 && editForm.get('description').touched">
        Enter an optional description of the monster.
      </div>
    </div>
    <div class='form-group'>
      <label for='name-generator'>Name Generator</label>
      <select id='name-generator'
        class='form-control'
        formControlName='nameGeneratorID'>
        <option [value]='undefined'>(None)</option>
        <option
          *ngFor='let g of nameGeneratorService.getList()'
          [value]='g.ID'>
          {{ g.name }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="health">Health Dice</label>
      <input id="health"
        formControlName='health'
        type="text"
        class="form-control"
        placeholder="2d6+1">
      <div
        class="form-text text-muted"
        *ngIf="!editForm.get('health').valid">
        Use standard dice nomenclature- [quantity]d[sides]-[modifier].
      </div>
    </div>
    <div class='btn-group'>
      <button
        type='submit'
        class='btn btn-success'
        (click)='onSubmit()'
        [disabled]='!editForm.valid'>
        Save
      </button>
      <button class='btn btn-warning' routerLink='/bestiary'>Back</button>
    </div>
  </form>
</div>
