<h2>Current Encounter</h2>
<table
  *ngIf='current.combatants.length > 0'
  class='table'>
  <thead>
    <tr>
      <th>Init</th>
      <th>Name</th>
      <th>Health</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let combatant of current.combatants"
      [ngClass]="{'alert alert-dark': current.current == combatant }">
      <td>{{combatant.initiative}}</td>
      <td>{{combatant.name}}</td>
      <td>
        <input type="number" [(ngModel)]="combatant.currentHP" />
        /
        <input type="number" [(ngModel)]="combatant.maxHP" />
      </td>
      <td>
        <button class='btn btn-danger fa fa-road'(click)="flee( combatant )"></button>
      </td>
      <td>
        <button class='btn btn-danger fa fa-snapchat-ghost'(click)="kill( combatant )"></button>
      </td>
    </tr>
  </tbody>
  <button (click)="current.advance()">Next</button>
</table>
<div
  *ngIf='current.combatants.length == 0'
  class='card'>
  <div class='card-body'>
    There are no combatants in this encounter. Maybe you should add some?
  </div>
</div>
